In [34]:
def hash(x):
    return x*7%5

In [55]:
db = sqlite3.connect("university4.db")
cursor=db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS students
(id integer PRIMARY KEY, name text NOT NULL, gender text NOT NULL, age ineger NOT NULL);""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(1, '袁泽', 'male', 20)""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(2, '袁泽', 'female', 20)""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(3, '袁泽', 'male', 20)""")




cursor.execute("""CREATE TABLE IF NOT EXISTS class
(id integer PRIMARY KEY, name text NOT NULL, teacher text NOT NULL);""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(100, 'Python', 'CZ')""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(101, 'Algorithm', 'GM')""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(102, 'SQL', 'WX')""")


cursor.execute("""CREATE TABLE IF NOT EXISTS enrolled
(student integer NOT NULL, class integer NOT NULL, grade integer NOT NULL);""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(1, 100, 80)""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(2, 102, 90)""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(3, 101, 70)""")

db.commit()
cursor.execute("""SELECT students.id, students.name, students.gender, students.age, enrolled.class, enrolled.grade FROM students JOIN enrolled on students.id = enrolled.student""")
print(cursor.fetchall())
db.close()

[(1, '袁泽', 'male', 20, 100, 80), (2, '袁泽', 'female', 20, 102, 90), (3, '袁泽', 'male', 20, 101, 70)]